@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FEFBF1;
  --foreground: #000000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #FEFBF1;
    --foreground: #000000;
  }
}

@font-face {
  font-family: 'Amiri';
  src: url('/fonts/Amiri Regular Font.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SwankyandMooMoo';
  src: url('/fonts/SwankyandMooMoo-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Amiri', 'SwankyandMooMoo';
}
